.blinking {
    -webkit-animation: blink 1s ease-in-out alternate;
    -moz-animation: blink 1s ease-in-out alternate;
    animation: blink 1s ease-in-out alternate;
}
@-webkit-keyframes blink {
    0% {
        /* opacity: 0; */
        background-color: none;
    }
    100% {
        /* opacity: 1; */
        background-color: purple;
    }
}
@-moz-keyframes blink {
    0% {
        /* opacity: 0; */
        background-color: none;
    }
    100% {
        /* opacity: 1; */
        background-color: purple;
    }
}
@keyframes blink {
    0% {
        /* opacity: 0; */
        background-color: none;
    }
    100% {
        /* opacity: 1; */
        background-color: purple;
    }
}
