.blinking {
    -webkit-animation: blink 1s ease-in;
    -moz-animation: blink 1s ease-in;
    animation: blink 1s ease-in;
}
.font_blinking {
    -webkit-animation: font_blink 1s ease-in;
    -moz-animation: font_blink 1s ease-in;
    animation: font_blink 1s ease-in;
}

.plus {
    --color: red;
}

.minus {
    --color: #0088ff;
}

.default {
    opacity: 0;
}


/*  background blink*/

@-webkit-keyframes blink {
    0% {
        opacity: 1;
        background-color: var(--color);
    }
    100% {
        opacity: 0;
        background-color: none;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
        background-color: var(--color);
    }
    100% {
        opacity: 0;
        background-color: none;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
        background-color: var(--color);
    }
    100% {
        opacity: 0;
        background-color: none;
    }
}

/*  font blink */

@-webkit-keyframes font_blink {
    0% {
        color: var(--color);
    }
    100% {
        color: white;
    }
}
@-moz-keyframes font_blink {
    0% {
        color: var(--color);
    }
    100% {
        color: white;
    }
}
@keyframes font_blink {
    0% {
        color: var(--color);
    }
    100% {
        color: white;
    }
}
