.buy_orderText{
    animation:buy_blinkingText 6s infinite;
}
@keyframes buy_blinkingText{
    0%{     color: #FFFFFF;    }
    25%{    color: rgb(255, 0, 0); }
    50%{    color: #FFFFFF; }
    75%{    color: rgb(255, 0, 0);  }
    100%{   color: #FFFFFF;    }
}

.sell_orderText{
    animation:sell_blinkingText 6s infinite;
}
@keyframes sell_blinkingText{
    0%{     color: #FFFFFF;    }
    25%{    color:#1e88e5; }
    50%{    color: #FFFFFF; }
    75%{    color:#1e88e5;  }
    100%{   color: #FFFFFF;    }
}