@import url("https://fonts.googleapis.com/css?family=Orbitron:300,400,500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.redBull {
  background: #1e41ff;
}

.mercedes {
  background: #00d2be;
}

.ferrari {
  background: #dc0000;
}

.sauber {
  background: #6f0122;
}

.renault {
  background: #fff500;
}

.forceIndia {
  background: #f596c8;
}

.toroRosso {
  background: #469bff;
}

.mclaren {
  background: #ff8700;
}

.haas {
  background: #bd9e57;
}

.williams {
  background: #ffffff;
}

.flex {
  display: flex;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}

#container {
  position: relative;
  top: 10px;
  // left: 60px;
  background: transparent;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

#lap {
  background: black;
  width: 110px;
  font-size: 20px;
  text-align: center;
  border-radius: 2px 8px 0 0;
  #seperator {
    margin: 5px auto;
    width: 60%;
    height: 2px;
    background: white;
    border-radius: 50%;
  }
}
.driverContainer {
  width: 100%;
  height: 5vh;
  background: transparent;
  transition: all 0.5;
  margin-bottom: 1vh;
  border: 'solid';
  border-color: '#2D4053';
  .driverLeft {
    display: flex;
    width: 100%;
    height: 50%;
    background: #0C151C;
  }
  .line {
    width: 0.3vw;
    height: 50%;
    position: relative;
    left: 0.3vw;
  }
  .driverPosition {
    background: white;
    color: black;
    width: 25%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    line-height: 3vh;
    border-radius: 2px 2px 6px 2px;
    margin: 2px;
  }
  .driverName {
    width: 100%;
    background: #0C151C;
    margin: 2px;
    font-size: 1vw;
    font-weight: bold;
    text-align: left;
  }
  .driverRight {
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    font-size: 1.2vw;
    border-radius: 2px 2px 2px 15px;
    padding: 3px;
    text-align: right;
  }
  &:hover {
    // cursor: pointer;
  }
}

#inactive {
  padding-top: 3px;
  height: 100%;
  width: 200px;
  background: transparent;
}

.driverInactive {
  opacity: 0.7;
}

#controls {
  position: absolute;
  top: 600px;
  left: 50px;
  padding: 5px;
  #startRace {
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
    transition: all 1s;
    &:hover {
      cursor: pointer;
      transform: translate(0px, -10px);
      box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.2);
    }
  }
  .control {
    width: 100%;
    height: 30px;
    padding: 5px;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.uparrow {
  color: green;
}

.downarrow {
  color: red;
}

.flatline {
  background: grey;
  width: 8px;
  height: 3px;
  position: relative;
  margin: 5px;
  display: inline-block;
}

#detailtitle {
  width: 200px;
  height: 25px;
  border-top: 3px solid red;
  margin-top: 3px;
  text-align: center;
  background: black;
  color: white;
}

.tyreContainer {
  position: relative;
  background: black;
  color: white;
  border-radius: 50%;
  width: 26px;
  height: 24px;
  .leftArc {
    position: absolute;
    width: 23px;
    height: 12px;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 3px solid red;
    border-bottom: 0;
    transform: rotate(90deg);
    top: 6px;
    left: 11px;
  }
  .rightArc {
    position: absolute;
    width: 23px;
    height: 12px;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 3px solid red;
    border-bottom: 0;
    transform: rotate(-90deg);
    top: 6px;
    left: -6px;
  }
  .size {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    top: 2px;
    text-transform: uppercase;
  }
  .soft {
    border: 3px solid red;
    border-bottom: 0;
  }
  .med {
    border: 3px solid yellow;
    border-bottom: 0;
  }
  .hard {
    border: 3px solid white;
    border-bottom: 0;
  }
}

.tireDetail {
  margin: auto;
  .tireHardness {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 3px;
    text-align: right;
    text-transform: uppercase;
  }
}

.detailCardContainer {
  position: fixed;
  // visibility: hidden;
  bottom: 0;
  left: 300px;
  width: 400px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  border-radius: 0 0 10px 0;
  opacity: 1;
  transition: all 0.25s ease-in-out;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: translatey(-5px);
  }
}

.detailCardTop {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: black;
}

.detailCardBottom {
  width: 100%;
  height: 65px;
  justify-content: space-between;
  background: transparent;
}

.quarter {
  width: 100px;
}

.center {
  margin: auto auto;
  text-align: center;
}

.line {
  width: 4px;
  height: 25px;
  position: relative;
  top: 5px;
  left: 5px;
  margin-right: 15px;
}

.driverName {
  font-size: 22px;
  padding-right: 5px;
}

.driverPosition {
  background: white;
  color: black;
  width: 34px;
  height: 28px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  border-radius: 2px 2px 6px 2px;
  margin: 3px;
}

.bold {
  font-weight: bolder;
}

.uppercase {
  text-transform: uppercase;
}

.driverNumber {
  font-size: 24px;
  padding-left: 10px;
  background: transparent;
}

.ordinal {
  font-size: 15px;
  position: relative;
  top: -6px;
}

.smallText {
  font-size: 15px;
}

.largeText {
  font-size: 25px;
}

.largeTire {
  transform: scale(1.25);
  margin: 5px 35px;
}

.profileimage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  margin-left: 15px;
  margin-top: 2px;
}

.flag {
  position: relative;
  height: auto;
  width: 80px;
  margin: auto 15px;
  bottom: 8px;
}

.teamdetail {
  font-size: 18px;
  padding: 4px;
  height: 65px;
  text-transform: uppercase;
  margin: auto;
}
