/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
/* // Animate the size, inside */
/* .fill:pressed */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* pulse => arrow, buy_max, buy, sell_max, sell 


  애니메이션은 똑같으니까 두고 
  색만 분리해서 만들자
  */
/* // Animate the size, outside */
.arrow:hover,
.arrow:focus,
.buy_max:hover,
.buy_max:focus,
.buy:hover,
.buy:focus,
.sell_max:hover,
.sell_max:focus,
.sell:hover,
.sell:focus
{
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  
}

.clicked {
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}


.pressed{
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}
/* pulse => arrow, buy_max, buy, sell_max, sell 
  */
.arrow {
  /* --color: #635ee7; */
  /* 기존 theme color보다 명도 높 */
  --color: #7974f2;
  --hover: #b9b6ff;
    border-radius: 10px 10px;
    font-weight: bold;
    border: 3px solid;
}
.buy_max {
  /* --color: #635ee7; */

  /* --color: #dd73f2;
  --hover:#fbadbe; */
  background: rgba(229,57,53, 0.5);
  --color: white;
  --hover:rgba(229,57,53, 0.5);
  opacity: 0.8;
}
.buy {
  /* --color: #635ee7; */
  background: red;
  /* --color: #e53935; */
  --color: white;
  --hover: red;
  opacity: 0.9;
  border-radius: 20px 20px;

}
.sell_max {
  /* --color: #635ee7; */
  /* --color: #73b2f2;
  --hover: #ef8f6e; */
  background:rgba(0, 136, 255, 0.7);
  --color: white;
  --hover:rgba(0, 136, 255, 0.7);
  opacity: 0.8;
}
.sell {
  /* --color: #635ee7; */
  /* background: #0088ff; */
  background: #0088ff;
  --color: white;
  --hover: #0088ff;
  opacity: 0.9;
  border-radius: 20px 20px;

}
.cancel {
  /* --color: #635ee7; */
  /* background: #0088ff; */
  background:  rgb(63, 63, 63);
  --color: white;
  --hover: rgb(126, 126, 126);
  opacity: 0.9;

}
.space {
  /* --color: #635ee7; */  
  /* background: #0088ff; */
  background: rgba(255,255,255,0.15);
  --color: white;
  --hover: rgba(255, 255, 255, 0.522);
}
.send {
  --color: white;
  --hover: #7974f2;
  border: 2px solid;
}

.start {
  /* --color: #635ee7; */
  --color: #ffffff;
  --hover: #7974f2;
  
}
.link {
    --color: #fff073;
    --hover: red;
    border-radius: 10px 10px;
    border: 3px solid;
}

.tutorial {
  --color: rgb(255, 8, 0);
  --hover: rgb(206, 206, 48);
  border-radius: 10px 10px;
  border: 3px solid;
  font-weight: bold;
}

.tutorialMove {
  --color: white;
  --hover: #333333;
}


/* // Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties. */
button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;

}

.start{
  background-color: #17181c;
  opacity: 0.6;
  border-radius: 20px 20px;
}


/* button:hover, button:focus { */
button:focus {
    border-color: var(--hover);
    color: #fff;
    opacity: 1;
  }

/* button:hover, button:focus { */
button:hover, button:focus, button.pressed {
  border-color: var(--hover);

  color: #fff;
  opacity: 1;
}


body {
  color: #fff;
  /* background: #17181c; */
  background: #fff;
  font: 300 1em 'Fira Sans', sans-serif;

  /* // Center everything ever */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */

}


button {
  background: none;
  border: 4px solid;
  font: inherit;
  line-height: 1;

  /* border: thick; */
  margin: 0.25rem;
  padding: 2vh 1.5vw;
  /* padding: 1em 2em; */
  font-size: 2.5vh;
  /* stroke-width: 5px; */
  /* font-size: 1em; */
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}
/*# sourceMappingURL=ShiningButton.css.map */